<div class="container">
    <h3> Details</h3>
    <div> User firstname: <input type="text" [(ngModel)]="empDetails.firstName"><br></div>
    <div>User lastname: <input type="text" [(ngModel)]="empDetails.lastName"><br></div>
    <div>User userId: <input type="text" [(ngModel)]="empDetails.userId"><br></div>
    <div>User jobTitleName: <input type="text" [(ngModel)]="empDetails.jobTitleName"><br></div>
    <div>User employeeCode: <input type="text" [(ngModel)]="empDetails.employeeCode"><br></div>
    <div>User emailAddress: <input type="text" [(ngModel)]="empDetails.emailAddress"><br></div>
    <div>User phoneNumber: <input type="text" [(ngModel)]="empDetails.phoneNumber"><br></div>
    <div>User region: <input type="text" [(ngModel)]="empDetails.region"></div>
</div>